<%# cssは記事投稿のものを併用しています。
app/assets/stylesheets/items/new.css %>

<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('sauna.png' , size: '185x100'), "/" %>
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">サウナの情報を入力</h2>
    <%= form_with(model: @article, local: true) do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
      <div class="weight-bold-text">
        サウナ画像
        <span class="indispensable2">任意</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>

    <div class="new-items">
      <div class="weight-bold-text">
        サウナ名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"サウナの名称（40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          所在地
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"article-prefecture"}) %>
      </div>
    </div>

    <%# サウナの詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">サウナの詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          風呂の種類
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:bath_type_id, BathType.all, :id, :name, {}, {class:"select-box", id:"article-gender-bath"}) %>
        <div class="weight-bold-text">
          サウナの温度
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:temperature_id, Temperature.all, :id, :name, {}, {class:"select-box", id:"article-heat"}) %>
        <div class="weight-bold-text">
          サウナの広さ
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:breadth_id, Breadth.all, :id, :name, {}, {class:"select-box", id:"article-breadth"}) %>
        <div class="weight-bold-text">
          水風呂の温度
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:water_bath_id, WaterBath.all, :id, :name, {}, {class:"select-box", id:"article-water-temperature"}) %>
        <div class="weight-bold-text">
          休憩スペース
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:break_space_id, BreakSpace.all, :id, :name, {}, {class:"select-box", id:"article-lounge"}) %>
        <div class="weight-bold-text">
          予算
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:budget_id, Budget.all, :id, :name, {}, {class:"select-box", id:"article-budget"}) %>
        <div class="weight-bold-text">
          来店回数
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:number_of_visit_id, NumberOfVisit.all, :id, :name, {}, {class:"select-box", id:"article-visit"}) %>
        <div class="weight-bold-text">
          総合評価
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:evaluation_id, Evaluation.all, :id, :name, {}, {class:"select-box", id:"article-evaluation"}) %>
      </div>
    </div>

    <div class="new-items">
      <div class="items-explain">
        <div class="weight-bold-text">
          サウナの総評
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :general_comment, class:"items-text", id:"article-impressions", placeholder:"全体的な感想（1,000文字まで入力可）（温度、規模、雰囲気など何でも記入OK!!）例）サウナの温度、湿度が絶妙で居心地が最高によかったです。時計が故障中だったので時間を計れなかったことが少し残念でした。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', article_path(@article.id), class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
    <%= link_to image_tag('sauna.png' , size: '185x100'), "/" %>
    <p class="inc">
      ©︎GetReadyサウナ!!,Inc.
    </p>
  </footer>
</div>