<%= render "shared/header" %>

<%# 投稿の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @article.name %>
    </h2>
    <div class="item-img-content">
      <% if @article.image.attached? %>
          <%= image_tag @article.image, class: "item-img" %>
        <% else %>
          <%= image_tag "unnamed.png", class: "item-img" %>
        <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @article.budget.name %>
      </span>
      <span class="item-postage">
        <%= @article.prefecture.name %>
      </span>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @article.user_id %>
        <%= link_to "投稿記事の編集", edit_article_path(@article.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "投稿記事の削除", "#", method: :delete, class:"item-destroy" %>
      <% end %>
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= link_to @article.user.nickname, user_path(@article.user_id) %></td>
        </tr>
        <tr>
          <th class="detail-item">風呂の種類</th>
          <td class="detail-value"><%= @article.bath_type.name %></td>
        </tr>
        <tr>
          <th class="detail-item">サウナの温度</th>
          <td class="detail-value"><%= @article.temperature.name %></td>
        </tr>
        <tr>
          <th class="detail-item">サウナの広さ</th>
          <td class="detail-value"><%= @article.breadth.name %></td>
        </tr>
        <tr>
          <th class="detail-item">水風呂の温度</th>
          <td class="detail-value"><%= @article.water_bath.name %></td>
        </tr>
        <tr>
          <th class="detail-item">休憩スペース</th>
          <td class="detail-value"><%= @article.break_space.name %></td>
        </tr>
        <tr>
          <th class="detail-item">来店回数</th>
          <td class="detail-value"><%= @article.number_of_visit.name %></td>
        </tr>
        <tr>
          <th class="detail-item">評価</th>
          <td class="detail-value"><%= @article.evaluation.name %></td>
        </tr>
      </tbody>
    </table>

    <div class="item-explain-box">
      <span><%= @article.general_comment %></span>
    </div>
  </div>

  <div class="like-link" id="like-link-<%= @article.id %>">
    <%= render partial: 'likes/like', locals: { article: @article } %>
  </div>

  <div class="comment-box">
    <% if user_signed_in? %>
      <%= form_with(model: [@article, @comment], local: true) do |f| %>
        <%= f.text_area :text, class: "comment-text" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <button type="submit" class="comment-btn">
          <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
          <span>コメントする<span>
        </button>
      <% end %>
    <% end %>
  </div>
    
  <div class="change-item-btn">
    💬コメント一覧💬
  </div>
    <ul class="comments_lists">
      <% @comments.each do |comment| %>
        <li class="comments_list">
            <p>
              <%= link_to "#{comment.user.nickname} :", user_path(comment.user_id), class: "comment-flag-icon" %>
              <%= comment.text %>
              <% if current_user == comment.user %>
                <%= link_to "削除", article_comment_path(@article, comment), method: :delete %>
              <% end %>
            </p>
        </li>
      <% end %>
    </ul>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の投稿📝
    </a>
    <a href="#" class="change-item-btn">
      📝後ろの投稿 ＞
    </a>
  </div>
  <%= link_to "#{@article.user.nickname}さんの投稿をもっと見る", user_path(@article.user_id), method: :get, class: "another-item" %>
</div>

<%= render "shared/footer" %>
