<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    サウナに入ってより人生を豊かに
  </p>
  <h2 class='ad-footer-title'>
    みんなで整い合おう！
  </h2>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>Get Ready サウナ!!とは？</h2>
      <ul>
        <li><%= link_to '', "#", class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>サウナの魅力</h2>
      <ul>
        <li><%= link_to '', "#", class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>サウナー同士でつながろう</h2>
      <ul>
        <li><%= link_to '', "#", class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("sauna.png", class:"logo-white"), "/" %>
  <p>© Get Ready サウナ!!</p>
</div>