<%= render "shared/header" %>

  <%= image_tag "sauna_logo.jpg", class: "sample-img" %>
  <%= image_tag "sauna1.jpg", class: "sample-img" %>
  <%= image_tag "sauna4.jpg", class: "sample-img" %>
  <%= image_tag "sauna5.jpeg", class: "sample-img" %>
  <%= image_tag "sauna6.jpg", class: "sample-img" %>
  <%= image_tag "sauna8.jpeg", class: "sample-img" %>
  <%= image_tag "sauna9.jpg", class: "sample-img" %>
  <%= image_tag "sauna10.jpg", class: "sample-img" %>
  <%= image_tag "sauna11.png", class: "sample-img" %>
  <%= image_tag "sauna12.png", class: "sample-img" %>
  <%= image_tag "sauna14.jpeg", class: "sample-img" %>
  <%= image_tag "sauna15.jpeg", class: "sample-img" %>
  <%= image_tag "sauna16.png", class: "sample-img" %>
  <%= image_tag "sauna17.png", class: "sample-img" %>
  <%= image_tag "sauna18.jpeg", class: "sample-img" %>

  <h1 class='service-title'>
    ♨️ご自由にお使いください♨️
  </h1>